@charset "UTF-8";
/* include*/
.TopContent {
  width: 1200px;
  overflow:auto;
  margin: 0 auto;
  text-align: center;
}
.TopSubContent>div:first-child{
	margin-top:40px;
	font-size:30px;
}
.TopSubContent>div:nth-child(2){
	width:100%;
	margin-top:30px;
	text-align: right;
	margin-bottom:30px;
}
.MainContent {
  width: 1200px;
  margin: 0 auto;
  overflow:auto;
}

.BarMeunSelect {
  list-style-type: none;
  width: 10%;
  min-height: 800px;
  padding: 0;
  margin: 0;
  float: left;
  background-color: #fafafa;
}

.BarMeun {
  border: 1px solid blanchedalmond;
  width: 90%;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
}
.BarMeunSelect > div {
  font-size: 18px;
}

.MainConTentBox {
  height: 800px;
  width: 90%;
  float: left;
}

.SerchBox {
  width: 100%;
  height: 10%;
}

.userListTitle{
	width:100%;
	height: 50px;
	line-height: 50px;
	border-top: 2px solid;
	border-bottom: 1px solid;
}
.userListTitle>li{
	float:left;
	font-size:17px;
	font-weight:bold;
}
/* Member */
#MemberList {
  width: 100%;
  overflow:auto;
}

#MemberList > li {
  float: left;
  height: 50px;
  line-height: 50px;
  width: 11%;
  text-align: center;
  font-size: 15px;
  border-bottom:1px solid lightgray;
}
.userListTitle>li:nth-child(9n+1),
#MemberList > li:nth-of-type(9n + 1) {
  width: 4%;
}
.userListTitle>li:nth-child(9n+2),
#MemberList > li:nth-of-type(9n + 2) {
  width: 14%;
}
.userListTitle>li:nth-child(9n+3),
#MemberList > li:nth-of-type(9n + 3) {
  width: 14%;
}
.userListTitle>li:nth-child(9n+4),
#MemberList > li:nth-of-type(9n + 4) {
  width: 15%;
}
.userListTitle>li:nth-child(9n+5),
#MemberList > li:nth-of-type(9n + 5) {
  width: 15%;
}
.userListTitle>li:nth-child(9n+6),
#MemberList > li:nth-of-type(9n + 6) {
  width: 12%;
}
.userListTitle>li:nth-child(9n+7),
#MemberList > li:nth-of-type(9n + 7) {
  width: 8%;
}
.userListTitle>li:nth-child(9n+8),
#MemberList > li:nth-of-type(9n + 8) {
  width: 9%;
}
.userListTitle>li:nth-child(9n+9),
#MemberList > li:nth-of-type(9n + 9) {
  width: 9%;
  cursor: pointer;
  color: #ec6827;
  font-weight: bold;
}
.MemberListButtonBox > ul > :nth-child(n) {
  padding-left: 10px;
}

.MemberListButton {
  width: 100%;
  height: 55px;
}

.MemberListButton > li {
  float: left;
  width: 50px;
  height: 50px;
  font-size: 30px;
  margin-left: 60px;
}

/* Member */

/* QnA */

/*------------------------------------*bar Meun css*/
.QnaListTitle{
	border-top:2px solid;
	border-bottom:1px solid;
	height:50px;
	line-height: 50px;
}
.QnaListTitle>li{
	float:left;
	font-size:17px;
	font-weight: bold;
	text-align: center;
}
#QnaList>li{
	height:50px;
	line-height: 50px
}
.QnaListTitle>li:nth-child(1),
#QnaList > li:nth-of-type(4n + 1) {
  width: 15%;
}
.QnaListTitle>li:nth-child(2),
#QnaList > li:nth-of-type(4n + 2) {
  overflow:hidden; 
  text-overflow:ellipsis; 
  white-space:nowrap;
  width: 55%;
  text-align: center;
  cursor: pointer;
}

.QnaListTitle>li:nth-child(3),
#QnaList > li:nth-of-type(4n + 3) {
  width: 15%;
}
.QnaListTitle>li:nth-child(4),
#QnaList > li:nth-of-type(4n + 4) {
  width: 15%;
}

.AdminQnqModal > form > div {
  font-size: 20px;
}
/* .QnaButton > li { */
/*   float: left; */
/*   width: 50px; */
/*   height: 50px; */
/*   font-size: 20px; */
/*   margin-left: 60px; */
/* } */
.QnaRightBox {
  overflow:auto;
}
/* .QnaButton { */
/*   width: 100%; */
/*   height: 55px; */
/* } */
/* .QnaButtonBox > ul > :nth-child(n) { */
/*   padding-left: 10px; */
/* } */

#QnaList > li {
  float: left;
  height: 50px;
  width: 100px;
  line-height: 50px;
  text-align: center;
  font-size: 15px;
}
.QnaDataBox > li {
  margin: 0 auto;
}
.QnaBoardContent {
  width: 100%;
  margin: 0 auto;
  overflow:auto;
}
/* QnA */
/*==========페이징=======================================*/
.AdminBoardButtonBox {
  margin-top:50px;
}

.AdminBoardListButton {
  width: 45%;
  height: 55px;
  margin: 0 auto;
}

.AdminBoardListButton > li {
  float: left;
  height: 50px;
  font-size: 20px;
  margin-left: 50px;
}
/*======================================================*/
.BoardViewImg {
  width: 100px;
  height: 90px;
}
.sirenTitle{
	border-top:2px solid;
	border-bottom:1px solid;
	height:50px;
	line-height: 50px;
}
.sirenTitle>li{
	float:left;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	height:50px;
	line-height: 50px;
	width:7%;
}
#BoardView > li{
	width:7%;
	float:left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size:15px;
	border-bottom:1px solid lightgray;
}
.sirenTitle>li:nth-child(3),
#BoardView > li:nth-of-type(7n+3) {
  width: 42%;
  text-align: left;
  overflow:hidden; 
  text-overflow:ellipsis; 
  white-space:nowrap;
  padding-left:10px;
}
.sirenTitle>li:nth-child(3){
	text-align: center;
	padding:0;
}
.sirenTitle>li:nth-child(4),
#BoardView > li:nth-of-type(7n+4) {
  width: 15%;
}
.sirenTitle>li:nth-child(6),
#BoardView > li:nth-of-type(7n+6) {
  width: 15%;
}
#BoardView > li:nth-of-type(7n+7){
	font-weight: bold;
	color:#ec6827;
	cursor: pointer;
}
.MemberListButtonBox {
  margin: 0 auto;
  width: 100%;
  height: 55px;
}
.MemberListButtonBox > ul > li {
  margin: 0 auto;
  float: left;
  font-size: 15px;
  padding-left: 80px;
  text-align: center;
}

.MemberListButtonBox > ul > :nth-child(n) {
  padding-left: 10px;
}

.MemberListButton {
  width: 100%;
  height: 55px;
}

.MemberListButton > li {
  float: left;
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-left: 60px;
}

.MemberListButtonBox {
  margin: 0 auto;
  width: 100%;
  height: 55px;
}
.MemberListButtonBox > ul > li {
  margin: 0 auto;
  float: left;
  font-size: 15px;
  padding-left: 80px;
  text-align: center;
}

.MemberListButtonBox > ul > :nth-child(n) {
  padding-left: 10px;
}

.MemberListButton {
  width: 100%;
  height: 55px;
}

.MemberListButton > li {
  float: left;
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-left: 60px;
}

