@charset "UTF-8";
@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'BBTreeGL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,
div,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBMPlexSansKR-Regular";
}
/* 건들이면 죽음입니다.... 넝담☜ㅇㅅㅇ☜*/
/* 게시판 공통 부분 */
/*컨테이너*/
.boardContainer {
  width: 1200px;
  overflow: auto;
  margin: 0 auto;
}
/* 게시판 타이틀 div */
.boardName{
	margin-top:40px;
}
.boardName>h2{
  font-weight:bold;
  color:black;
  margin:10px 0;
  font-size:1.6em;
}
.boardName>h4{
	margin-top:5px;
	color:gray;
    font-size:1.02em;
}
/* 페이지, 글쓰기벝은 */
.boardBtnDiv {
  height: 40px;
  margin-top:10px;
}
.writeBtn {
  /*글쓰기 버튼*/
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  width: 70px;
  height: 30px;
  background-color: #00376b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.pagingDiv {
  width: 100%;
  height: 50px;
}
.pagingDiv ul {
  /*페이지 div*/
  width: 250px;
  height: 50px;
  line-height: 25px;
  margin: 0 auto;
}
.pagingDiv li {
  /*페이지 1,2,3,4*/
  float: left;
  margin: 10px 10px;
}

.allSearch {
  /*검색창 div*/
  width: 100%;
  height: 40px;
  display: flex;
  margin: 30px 0 22px 0;
  flex-direction: row;
  justify-content: flex-end;
}
.allSearch>form{
	border: 1px solid #80808073;
    border-radius: 5px;
    width: 360px;
    height: 40px;
    box-sizing: border-box;
}
select[name=searchSelect] {
  height: 36px;
  margin: 1.5px 0 0 9px;
  outline: none;
  border:none;
  font-size:1em; 
}
.allSearch>form>div>div{
	float:right;
}
.allSearch>form>div>div>img{
	width:22px;
	height:22px;
	margin:8px 10px 7px 10px;
}
input[name=search] {
  height: 30px;
  width:205px;
  line-height: 30px;
  border: none;
/*   border-bottom: 1.5px solid #4c4646; */
}
input[name=search]:focus{
	background:white;
	outline:none;
}
input[name="searchContent"] {
  width: 32px;
  height: 32px;
  border: none;
  margin-bottom: -10px;
  background: url("img/magnifier.png") no-repeat;
  cursor: pointer;
}
/*----------------------------------------------------------------------------------------*/


a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #5e83d1;
}
span {
/*   color: blue; */
  font-size: 0.85em;
}


.boardList {
  width: 100%;
  overflow: auto;
  text-align: right;
}
.boardList li {
  float: left;
  width: 10%;
  text-align: center;
}
/*------------QnA/자유게시판----------------------------------*/
#basicBoardTitle {
  height: 50px;
  line-height: 50px;
  font-size: 0.85em;
  display:block;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}
#basicBoardTitle li {
  float: left;
  text-align: center;
}
#basicBoardTitle > li:nth-child(1) {
  width: 60%;
}
#basicBoardTitle > li:nth-child(2),
#basicBoardTitle > li:nth-child(3) {
  width: 13%;
}
#basicBoardTitle > li:nth-child(4),
#basicBoardTitle > li:nth-child(5) {
  width: 7%;
}
.basicBoardContent {
  width: 100%;
  overflow:auto;
}
.basicBoardContent > div {
  float: left;
  height: 60px;
  line-height: 60px;
  font-size:0.91em;
  text-align: center;
  box-sizing: border-box;
  border-bottom:1px solid lightgray;
}
.basicBoardContent > div:nth-of-type(5n + 1) {
  width: 60%;
  box-sizing:border-box;
  padding-left:10px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.basicBoardContent > div:nth-of-type(5n + 2),
.basicBoardContent > div:nth-of-type(5n + 3) {
  width: 13%;
}
.basicBoardContent > div:nth-of-type(5n + 4),
.basicBoardContent > div:nth-of-type(5n + 5) {
  width: 7%;
}
/*------------인증----------------------------------------*/
#container {
  /*컨테이너*/
  width: 1200px;
  min-width: 400px;
  margin: 0 auto;
  overflow: auto;
}
#tagSearchDiv {
  /*검색창div*/
  height: 80px;
  line-height: 60px;
  width: 900px;
}
input[name="searchTag"] {
  border: none;
  border-bottom: 1px solid black;
}
input[name="searchTag"]:focus {
  outline: none;
}
#pic {
  /*컨텐츠 이미지 div*/
	width: 100%;
	overflow: auto;
	margin: 0 auto;
	box-sizing: border-box;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#pic::-webkit-scrollbar {
  display: none;
}
.injeungImg {
  /*이미지 사이즈*/
  width: 260px;
  height: 265px;
}
#pic > div {
  /*게시물 각각 사이즈*/
  width: 260px;
  height: 395px;
  float: left;
  margin-bottom: 15px;
}
#pic > div > div:nth-of-type(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
/*   margin-top: 5px; */
  padding-left: 3px;
  font-size: 0.9em;
}
.injeungTag{
	font-family: 'BBTreeGL';
	color:#00376b;
	font-size: 0.8em;
	font-weight: 600;
}
#pic > div > div:nth-of-type(4) {
  margin-top: 6px;
  padding-left: 3px;
  font-size: 0.8em;
}
img[name="profileShot"] {
  width: 32px;
  height: 32px;
  margin: 5px 0;
}
img[name="bubbleIcon"],
img[name="goodhit"] {
  width: 16px;
  height: 16px;
}
.injeungContentWriter {
  width: 100%;
  overflow: auto;
/*   margin-top: 2%; */
}
.injeungContentWriter > div:first-child {
  width: 20%;
  float: left;
}
.injeungContentWriter > div:last-child {
  width: 70%;
  margin-top: 4%;
  overflow: auto;
  font-size: 0.7em;
}
.injeungContentWriter li {
  float: left;
  /* margin-right:1%; */
}

/*-------------------------------------------------------*/

/*----추천------------------------------------------------*/
/* boardList>hr{ */
/* 	margin:0; */
/* 	padding:0; */
/* } */
/* #chucheonTitle { */
/*   height: 40px; */
/*   line-height: 40px; */
/*   font-size: 1.05em; */
/* } */
/* #chucheonTitle > li:nth-child(1) { */
/*   width: 7%; */
/* } */
/* #chucheonTitle > li:nth-child(2) { */
/*   width: 83%; */
/* } */
/* #chucheonTitle > li:nth-child(3) { */
/*   width: 10%; */
/* } */

.chucheonList {
  width: 100%;
  height: 100px;
}
.chucheonList:first-child{
	border-top:1px solid lightgray;
}
.chucheonList > div {
  float: left;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
}
.chucheonList > div:nth-of-type(3n + 1) {
  width: 7%;
  line-height: 100px;
  font-size:0.75em;
}
.chucheonList > div:nth-of-type(3n + 2) {
  width: 83%;
}
.chucheonList > div:nth-of-type(3n + 3) {
  width: 10%;
  line-height:100px;
}
.recommendContent {
  width: 80%;
  /* display: table; */
}
.recommendContent > div {
  float: left;
  box-sizing:border-box;
  padding:13px 0;
}
.recommendContent > div:nth-child(1) {
  width: 15%;
  font-size: 0.87em;  
}
.recommendContent > div:nth-child(2) {
  width: 85%;
  text-align: left;
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
}
.contentInfo>div:nth-of-type(2)>div{
	float:left;
	box-sizing: border-box;
	margin-right:18px;
	font-size: 0.75em;
}
.contentInfo>.tagspan{
	font-family: 'BBTreeGL';
	color:#00376b;
	font-size: 0.8em;
	font-weight: 600;
}
.chucheonImg {
  width: 80%;
  height: 74px;
}
.commentImg,
.recommendImg {
  width: 15px;
}

   /*------------여기까지 자게 보드컨테이너----------------------------------------*/
   
   /*아이디 드롭다운 메뉴*/
   .dropbtn {
       
     border: none;
     cursor: pointer;
   }
   
   .dropbtn:hover, .dropbtn:focus {
     background-color: #2980B9;
   }
   
   .dropdown {
     position: relative;
     /* display: inline-block; */
   }
   
   .dropdown-content {
     display: none;
     position: absolute;
     left: 70%;
      top: 0px;
      background-color: #f1f1f1; 
     min-width: 160px;
     overflow: auto;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
   .dropdown-content a {
     text-align:center;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
   }
   
   .dropdown a:hover {background-color: #ddd;}
   
   .show {display: block;}
   /* ---------------------------------------------*/
   
   /*차단 모달창 , 차단 yes 모달창*/
   .blockJoinModal, .blockJoinModal2, .mailJoinModal, .mailJoinModal2, .gudokJoinModal, .gudokJoinModal2, .profilJoinModal{
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     bottom: 0;
     overflow-x: hidden;
     overflow-y: auto;
     -ms-overflow-style: none;
   }
   .blockJoinModal::-webkit-scrollbar {
     display: none;
   }
   
   .blockJoinModal2::-webkit-scrollbar {
     display: none;
   }
   
   .mailJoinModal::-webkit-scrollbar {
     display: none;
   }
   
   .mailJoinModal2::-webkit-scrollbar {
     display: none;
   }
   
   .gudokJoinModal::-webkit-scrollbar {
     display: none;
   }
   
   .gudokJoinModal2::-webkit-scrollbar {
     display: none;
   }
   
   .profilJoinModal::-webkit-scrollbar {
     display: none;
   }
   .blockModalContent, .blockModalContent2, .mailModalContent, .mailModalContent2, .gudokModalContent, .gudokModalContent2, .profilModalContent  {
     position: relative;
     margin: 0 auto;
     width: 380px;
     padding: 20px;
     background-color: #fafafa;
     text-align: center;
     border-radius: 10px;
    /*  border: 2px solid #666; */
     overflow-y: auto;
   }
   
   .gudokModalContent{
      width:340px;
   }
   
   .blockDataInputModal , .blockDataInputModal2, .mailDataInputModal, .mailDataInputModal2, .gudokDataInputModal, .gudokDataInputModal2, .profilDataInputModal {
     display: none;
     background-color: whitesmoke;
     box-shadow: 10px 10px 5px lightgrey;
   }
   
   /*차단, 구독하기 확인 버튼 */
   #yesChadan, #yesGudok{
   border-color: white;
    width: 160px;
    height: 50px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
   }
   
   /*차단, 구독하기 취소버튼*/
   #noChadan, #noGudok{
   border-color: white;
    width: 20;
    width: 160px;
    height: 50px;
    background-color: white;
    color: black;
    /* border: none; */
    border-radius: 10px;
    cursor: pointer;
   }
   
   #yesGudok, #noGudok{
   width:120px;
   }
      
   /*취소 버튼*/
   #noMail{
   background-color: white;
    width: 160px;
    height: 3o;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-weight: 700;
    box-shadow: 1px 1px 0px 0px lightgrey;
   }
   
   /*보내기 버튼*/
      
    #yesMail, #profilebtn{
    background-color: cornflowerblue;
    width: 160px;
    height: 3o;
    height: 30px;
    color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-weight: 700;
    box-shadow: 1px 1px 0px 0px lightgrey;
   }
   
   /*프로필 모달창*/
   
   /*프로필 */
   #profileTop{
   margin: 0 auto;
    margin-bottom: 20px;
  /*   background: beige; */
    border-radius: 30px;
   }
   
   .profileinfo{
   padding: 20px;
    width: -1px;
    background: lightgray;
    border-radius: 30px;
    font-weight:bold;
   }
   
   
    .profileinfo img{
   width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 50px;
   } 
   
   /*인사말 관심분야*/
   #profileHi { 
   margin-top: 10px;
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;
    
   }
   
   #profileLike{
   margin-top: 10px;
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;
   }  
   
   .profilFoot input[type="text"]{
   padding-bottom: 20px;
   border: none;
   cursor: text;
   border-radius: 5px;
   height: 30px; 
   line-height: 30px; 
   width: 300px; 
   background: white;
   }
   
