@charset "UTF-8";
	h2{
		margin-left:10px;
	}
	#container{/*컨테이너*/
		width:1100px;
		min-width:400px;
		margin:0 auto;
		overflow:auto;
	}
	#searchDiv{/*검색창div*/
		margin-left:10px;
		height:80px;
		line-height:60px;
		width:900px;
	}
	input[name=searchTag]{
		border:none;
		border-bottom:1px solid black;
	}
	input[name=searchTag]:focus{
		outline:none;
	}
	#pic{/*컨텐츠 이미지 div*/
		width: 100%;
		overflow: auto;
		margin: 0 auto;
		padding:0 9px;
		box-sizing:border-box;
	}
	#pic::-webkit-scrollbar{
		display:none;
	}
	.mainImg{/*이미지 사이즈*/
		width:260px;
		height:265px;
	}
	#pic>div{/*게시물 각각 사이즈*/
		width:260px;
		height:395px;
		float: left;
   		margin: 5px;
	}
	#pic>div>div:nth-of-type(2){
		overflow:hidden; 
		text-overflow:ellipsis;
		white-space: nowrap;
		margin-top:13px;
		padding-left:3px;
		font-size:0.9em;
	}
	#pic>div>div:nth-of-type(3){
		margin-top:15px;
		padding-left:3px;
		font-size:0.8em;
	}
	img[name=profileShot]{
		width:32px;
		height:32px;
		margin:5px 0;
	}
	img[name=bubbleIcon], img[name=heartIcon]{
		width:16px;
		height:16px;
	}
	.injeungContentWriter{
		width:100%;
		overflow:auto;
		margin-top:3%;
	}
	.injeungContentWriter>div:first-child{
		width:20%;
		float:left;
	}
	.injeungContentWriter>div:last-child{
		width:70%;
		margin-top:4%;
		overflow:auto;
		font-size:0.7em;
	}
	.injeungContentWriter li{
		float:left;
		/* margin-right:1%; */
	}
	
	
