@charset "UTF-8";
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#matchingUploadFrame {
    font-family: 'IBMPlexSansKR-Regular';
    width: 1200px;
    margin: 30px auto;
    overflow: auto;
}
#matchingBasicInfoArea {
    overflow: auto;
    margin: 0 auto;
    width: 100%;
}
#titleAndMap {
    list-style-type: none;
    overflow: auto;
    margin: 10px auto;
    padding: 0;
    height: 265px;
    
}
#mapBtn{
	display: none;
}

#titleAndMap>div>input[type=text],
#titleAndMap>div>input[type=text]:focus {
    width: 94%;
    height: 50px;
	border:none;
	outline:none;
    border-bottom: 1px solid black;
}
#dayAndTime input[type=date],
#dayAndTime input[type=time] {
	height:35px;
	width:80%;
	padding-right:5px;
	border-radius:3px;
	padding-left:15px;
	border:1px solid gray;
	margin-top:3px;
}
#dayAndTime input[type=time]{
	width:95%;
}
#titleAndMap>div {
    float: left;
    margin: 5px 0;
    padding: 0;
    font-size: 1.2em;
    font-size: 1.15em;
}
#titleAndMap>div:nth-of-type(2n+1) {
    width: 92%;
}
/*dayAndTime div*/
#dayAndTime{
	width:90%;
	overflow:auto;
}
#dayAndTime>div{
	float:left;
	height:40px;
	line-height:40px;
	box-sizing: border-box;
}
#dayAndTime>div:nth-child(1), #dayAndTime>div:nth-child(3) {
    width: 9%;
    font-size:0.98em;
    font-weight: bold;
}
#dayAndTime>div:nth-child(1){
	margin-right:2%
}
#dayAndTime>div:nth-child(2){
	width:30%;
}
#dayAndTime>div:nth-child(4), #dayAndTime>div:nth-child(6) {
    width: 20%;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
	text-align: left;
}
#dayAndTime>div:nth-child(5){
	width:7%;
	text-align: center;
}
#countAndSido{
	width:90%;
	height:40px;
	line-height: 50px;
}
#countAndSido>div{
	float:left;
}
#countAndSido>div>input[type=number],
#countAndSido>div>select {
    height:35px;
    margin-top: 5px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid;
}
#countAndSido>div>input[type=number]{
	width:80%;
}

#countAndSido>div:nth-child(1){
	width:10.5%;
	font-size:0.98em;
    font-weight: bold;
    letter-spacing: 5px;
}
#countAndSido>div:nth-child(2){
	width:29.5%;
}
#countAndSido>div:nth-child(3){
	width:9%;
	font-size:0.98em;
    font-weight: bold;
}
#countAndSido>div:nth-child(4){
	width:26%;
	line-height:40px;
}
#countAndSido>div:nth-child(5){
	width:24%;
	font-size:0.98em;
}
#countAndSido label{
	margin-right:26px;
}
#titleAndMap>div:last-child{
	width:100%;
	height:30px;
	line-height: 30px;
}
.input-file-button{
  padding: 6px 25px;
  background-color:#00376b;
  border-radius: 3px;
  color: white;
  font-size:0.9em;
  cursor: pointer;
  position:absolute;
}
#input-file,
#input-file:focus{
	padding:5px 0 0 4px;
	outline:none;
}

/* �깭洹� 湲곕뒫 */
#addTag{
    float: left;
    overflow: auto;
    margin-bottom:10px;\
}
#addTag>div {
    float: left;
    border: 1px solid gray;
    margin: 2px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-weight:bold;
    color:#014f99;
}
#hiddenTagAllDone {
    color: red;
    border-radius: 0px;

}
/* ---------------------------------------------------------- */
/*紐⑤떖李�*/
.mapJoinModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.mapJoinModal::-webkit-scrollbar {
    display: none;
}

/* 紐⑤떖李� 諛곌꼍 */
.mapModalOverlay {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    overflow-y: auto;
    position: fixed;
}

/* 紐⑤떖李� */
.mapModalContent {
    position: relative;
    margin: 150px auto;
    width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 5px;
    border: 2px solid #666;
    overflow-y: auto;
}
.note-editing-area{
	min-height: 500px;
}
/* 踰꾪듉 */
#matchingSubmitBtn, #matchingCancelBtn {
    background-color: white;
    width: 80px;
    height:35px;
    padding: 0;
    border-radius: 3px;
    margin: 10px;
}
#matchingSubmitBtn, #injeungSubmitBtn {
    float: right;
    background-color: #00376b;
    border: #00376b;
    color:white;
}
#matchingCancelBtn, #injeungCancelBtn {
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid lightgray;

}


