@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#matchingUploadFrame {
    font-family: 'IBMPlexSansKR-Regular';
    width: 1100px;
    margin: 50px auto;
    overflow: auto;
}
#matchingBasicInfoArea {
    overflow: auto;
    margin: 0 auto;
    width: 97%;
}
#titleAndMap {
    list-style-type: none;
    overflow: auto;
    margin: 10px auto;
    padding: 0;
}
#titleAndMap>li {
    float: left;
    margin: 5px 0;
    padding: 0;
    font-size: 1.2em;
}
#titleAndMap>li>input:focus {
    outline: none !important;
    border: 1px solid rgb(156, 190, 221);
    box-shadow: 0 0 20px #d6e2f0;
}
#titleAndMap>li:nth-of-type(2n+1) {
    width: 92%;
}
#titleAndMap>li:nth-of-type(2) {
    width: 8%;
}
#titleAndMap>li>input {
    width: 98%;
    height: 50px;
    padding-left: 10px;
    border-radius: 6px;
    border: 1px solid rgb(216, 215, 215)
}
#titleAndMap>li>select {
    height: 100%;
    margin-right: 10px;
    padding: 5px;
    border-radius: 6px;
    
}

/* 태그 기능 */
#addTag{
    float: left;
    overflow: auto;
}
#addTag>div {
    float: left;
    border: 1px solid gray;
    margin: 2px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}
/* ---------------------------------------------------------- */
/*모달창*/
.loginJoinModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.loginJoinModal::-webkit-scrollbar {
    display: none;
}

/* 모달창 배경 */
.modalOverlay {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    overflow-y: auto;
    position: fixed;
}

/* 모달창 */
.joinModalContent {
    position: relative;
    margin: 150px auto;
    width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 5px;
    border: 2px solid #666;
    overflow-y: auto;
}

/* 버튼 */
#matchingSubmitBtn, #matchingCancelBtn {
    background-color: white;
    width: 100px;
    font-size: 2em;
    padding: 0;
    border-radius: 3px;
    margin: 10px;
}
#matchingSubmitBtn {
    float: right;
    background-color: rgba(42, 135, 197, 0.2);
    border: 1px solid rgba(255, 99, 72, 0.2);
}
#matchingCancelBtn {
    float: left;
    background-color: rgba(192, 98, 82, 0.2);
    border: 1px solid rgba(255, 99, 72, 0.2);
}
#matchingSubmitBtn:hover {
    background-color: rgba(42, 135, 197, 0.25);
}
#matchingCancelBtn:hover {
    background-color: rgba(192, 98, 82, 0.25);
}