@charset "UTF-8";
/* 寃��깋, �떖�젰 */
#matchingFrame {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}
#searchAndCalendar{
    width: 100%;
}
#searchAndCalendar>form>div {
    float: left;
}
#searchAndCalendar div:last-child{
    float: right;
}
#selectedDateDiv{
    float: right;
}
#addTag>div, #selectedDateDiv {
    float: left;
    border: 1px solid gray;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    display: none;
    margin-left: 5px;
}
#jangteoFrame>header {
    overflow: auto;
}
/* Calendar API */
#calendar {
    position: absolute;
    background-color: white;
    z-index: 100;
    width: 1100px;
}
/* 蹂닿린 紐⑤뱶 */
#viewByGroup, #viewByTime {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#viewByGroup>li {
    float: left;
}
#viewByTime>li  {
    float: left;
}
#sortByGroup {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}
#viewByGroup>li:first-child, #viewByTime>li:first-child{
    font-size: 1.1em;
    font-weight: bold;
}

/* 留ㅼ묶 */
#matchingSection {
    margin: 0 auto;
    padding:0;
}
section>section{
    overflow: auto;
    height: 100%;
}
.matchingBox:hover{
    box-shadow: 1px 1px 10px gray;
    transform: translate(0,-1px);
    transition: all 100ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}
.matchingBox{
    width: 23%;
    height:40%;
    margin: 2% 1%;
    padding: 0;
    overflow: hidden;
    position: relative;
    float: left;
    background: whitesmoke;
    cursor: default;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    
}
.photo{
    padding-top:70%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(154, 147, 147);
    border-radius: 4px;

}
.matchingBox img{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
}
.endSoon{
    font-size: 0.8em;
    position: absolute;
    width: 23%;
    top: 0px;
    background-color: red;
    text-align: center;
    border-radius: 4px
}
.hashTag, .where, .matchingStatus, .writer, .matchingDate {
    text-align: center;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
.matchingStatus {
    font-weight: 900;
    border: 1px solid whitesmoke;
    height: 30px;
    line-height: 30px;
    font-size: 1.5em;
    border-radius: 4px;
    
}
/* �븯�떒 踰꾪듉 */
#matchingPagingUl {
    width: 40%;
    margin: 0 auto;
    border-radius: 15px;
    display: -webkit-flex;
    display: flex;
}
#center {
    -webkit-justify-content: center;
    justify-content: center;
}
.page-item {
	float: left;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    width: 80px;
    height: 50px;
    margin: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 50px;
    font-decoration: none;
}
#matchingUploadBtn {
    float: right;
}

#activePage {
	background-color: #7752f8;
}





a.button {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(0, 0, 0, 0.4) 0 0px 0px 2px inset;
}

a.button:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

a.button {
	-webkit-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 5px 30px;
    float: right;
}


/* 태그검색 관련 */
.searchText{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}