@charset "UTF-8";
/* 寃��깋, �떖�젰 */
#matchingFrame {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}
#searchAndCalendar{
    width: 100%;
    overflow:auto;
}
#searchAndCalendar a{
   float: right;
    border: 2px solid #00376b;
    border-radius: 3px;
    color:#00376b;
    font-weight:bold;
    width: 50px;
    text-align: center;
    padding: 7px;
    cursor: pointer;
}
#searchAndCalendar input[name=searchText], input[name=searchText]:focus{
	border:none;
	height:30px;
	width:45%;
	font-size:1em;
	border-bottom:2px solid gray;
	color:#00376b;
	outline:none;
}
#searchAndCalendar>form>div {
    float: left;
}
#searchAndCalendar>form>div:first-child, #searchAndCalendar>form>div:nth-child(2){
	width:50%;
	margin-top:18px;
	float:left;
}`
#calendarBtn{
	color: #00376b;
	border: 2px solid #00376b;
	border-radius: 3px;
	float: right;
	cursor: pointer;
	height: 30px;
	width: 50px;
    line-height: 30px;
    text-align: center;
}
#tagAndDate{
	width:100%;
	overflow:auto;
/* 	display: none; */
}
#addTag{
	width:89%;
}
#tagAndDate>div:last-child{
	width:11%;
    float: right;
    padding-left:15px;
}
#addTag>div, #selectedDateDiv {
    float: left;
    border: 1px solid gray;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:10px;
    color:#00376b;
    
    font-weight:bold;
    font-size:0.92em;
    margin-right:7px;
    border-radius: 15px;
    display: none;
    margin-left: 5px;
}
#selectedDateDiv{
	margin-right:0px;
}
#jangteoFrame>header {
    overflow: auto;
}
/* Calendar API */
#calendar {
    position: absolute;
    background-color: white;
    z-index: 100;
    width: 1200px;
}
.fc .fc-button-primary{
	
}
/* 蹂닿린 紐⑤뱶 */
#viewByGroup, #viewByTime {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#viewByGroup>li {
    float: left;
    margin-right:5px;
}
#viewByTime>li  {
    float: left;
    margin-left:5px;
}
#sortByGroup {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size:0.92em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#viewByGroup>li:first-child, #viewByTime>li:first-child{
    font-size: 1.1em;
    font-weight: bold;
}

/* 留ㅼ묶 */
#matchingSection {
    margin: 0 auto;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section>section{
    overflow: auto;
    height: 100%;
}
.matchingBox{
    width: 260px;
    height:370px;
    margin-bottom: 2%;
    padding: 0;
    overflow: hidden;
    position: relative;
    float: left;
    box-sizing:border-box;
    cursor: default;
    text-decoration: none;
    color: black;
    
}
.matchingBox img{
	width:260px;
	height: 240px;
    border-radius: 4px;
}
.endSoon {
	font-size: 0.8em;
/* 	font-weight: bold; */
	position: absolute;
	width: 70px;
	height: 30px;
	line-height: 30px;
	color: white;
	top: 0;
	left:0;
	background-color: #fc9d9eb0;
	text-align: center;
	border-radius: 4px;
}
.matchingBox>div:nth-child(4)>div:first-child{
	width:75%;
	float:left;
}
.matchingBox>div:nth-child(4)>div:last-child{
	width:25%;
	float:left;
}
/*매칭 정보*/
.where, .matchingStatus, .writer, .matchingDate {
    text-align: left;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    font-size:0.9em;
    margin-bottom:5px;
}
.writer{
	font-size:0.9em;
	margin:5px 0;
}
.hashTag{
	font-family: 'BBTreeGL';
	color:#00376b;
	height: 20px;
	line-height: 20px;
	margin:5px 0;
	font-size: 1em;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
  	white-space: nowrap;
}
.where{
	margin:0;
}
.matchingStatus {
	width:100%;
	text-align: center;
    font-weight: 900;
    background-color:white;
	border:1px solid #00376b;
    height: 30px;
    line-height: 30px;
    font-size: 1.1em;
    margin-bottom:0;
    margin-top:5px;
    border-radius: 4px;
    
}
/* 매칭페이징 */
#matchingPagingUl {
    width: 40%;
    margin: 0 auto;
    border-radius: 15px;
    display: -webkit-flex;
    display: flex;
}
#center {
    -webkit-justify-content: center;
    justify-content: center;
}
.page-item {
	float: left;
    border-radius: 10px;
    width: 80px;
    height: 50px;
    margin: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 50px;
    font-decoration: none;
}
#matchingWriteBtn{
	width:100%;
	margin-top:15px;
	overflow: auto;
}
#matchingUploadBtn {
    float: right;
	margin-top: 10px;
/* 	margin-right: 20px; */
	width: 70px;
	height: 30px;
	line-height:30px;
	text-align:center;
	background-color: #00376b;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#activePage {
	font-weight: bold;
}


/* a.button { */
/* 	display: block; */
/* 	max-width: 180px; */
/* 	text-decoration: none; */
/* 	border-radius: 4px; */
/* 	padding: 5px 30px; */
/*     float: right; */
/* } */
