@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#myBoardList, #myReply, #matching, #myBookmark, #subscribeDiv, #blockDiv, #qNa, #messageBox{
	width:1200px;
	margin:0 auto;
}
#mypageIntro{
	width:100%;
	min-height:800px;
	position:relative;
}
#mypageIntro>div{
    text-align:center;
/*     margin:120px; */
    font-family: 'GmarketSansBold';
}
#mypageIntro>div:first-child{
	position:absolute;
	font-size: 2.4em;
	color: darkslateblue;
	margin: 19px;
	z-index: 10000;
	
}
#mypageIntro>div>img{
	width:100%;
	opacity: 0.6;
}
.page { /*페이지 div*/
	width: 250px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
}

.page li { /*페이지 1,2,3,4*/
	float: left;
	margin: 10px 10px;
}
.mypageH2{
	margin-left: 12px;
    font-size: 1.4em;
}
/*---------------------------------내가 쓴 글----------------------------------*/
BoardList>.list li { /*li 기본값*/
	float: left;
	width: 10%;
	text-align: center;
}
#myBoardList select { /*카테고리 셀렉트박스*/
	width: 100px;
	border: none;
	font-size: 1em;
	text-align:center;
	
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
#myBoardList select:focus{
	outline:none;	
}

#myBoardList a:hover { /*제목 마우스오버시*/
	color: gray;
}

#title {
	height: 50px;
	line-height: 50px;
	border-bottom: 2px solid gray;
}

#title>li:nth-child(1) { /*리스트 폭*/
	width: 15%;
}

#title>li:nth-child(2) {
	width: 50%;
}

#title>li:nth-child(3) {
	width: 15%;
}

#myBoardList .content { /*레코드 한줄 높이*/
	height: 50px;
}

#myBoardList .content>li {
	line-height: 50px;
}

#myBoardList .content>li:nth-of-type(5n+1) { /*카테고리*/
	width: 15%;
}

#myBoardList .content>li:nth-of-type(5n+2) { /*제목*/
	width: 50%;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

#myBoardList .content>li:nth-of-type(5n+3) { /*등록일*/
	width: 15%;
}


/*------------------------------------- 내가 쓴 댓글--------------------------------------*/

#myReply>div:first-of-type {
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 2px solid gray;
}

#myReply>div:nth-of-type(2) {
	overflow: auto;
}

.replyList li {
	float: left;
	height: 80px;
	border-bottom: 1px solid #ddd;
}

.replyList>li:nth-of-type(2n+1) { /*체크박스*/
	width: 10%;
	line-height: 80px;
	text-align: center;
}

.replyList>li:nth-of-type(2n+2) {
	width: 90%;
}

.replyList>li:nth-of-type(2n+2) div {
	width: 90%;
	line-height: 25px;
	margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.replyList>li>div>div:nth-child(1) {
	font-size: 1.17em;
	margin-top: 6px;
}

.replyList>li>div>div:nth-child(2) { /*작성자 아이디*/
	font-size: 0.8em;
	line-height: 25px;
}

.replyList>li>div>div:nth-child(3) { /*댓글쓴 게시물의 제목or태그*/
	font-size: 0.8em;
	line-height: 15px;
}

.chkAndDel {
	width: 100%;
	height: 50px;
	line-height:50px;
}

.chkAndDel>div {
	float: left;
	width: 40%;
	line-height: 50px;
}

.chkAndDel>div:first-child {
	margin-left:4%;
}

.chkAndDel>div:last-child {
	text-align:right;
	margin-left:13%;
}

input[name=replyDelBtn] {
	width: 70px;
	height: 30px;
	background-color: #00376b;
	color: white;
	border: none;
	border-radius:5px;
	cursor: pointer;
}
/*-----------------------매칭-------------------------------*/
/* li 기본값*/
.list li {
	float: left;
	width: 10%;
	text-align: center;
}
.list span>a{
	color:#00376b;
	font-weight: bold;
}

#matching #title { /*리스트 상단 제목, 작성자, 등록일 등등 */
	height: 50px;
	line-height: 50px;
}

#title>li:nth-child(1) { /*컬럼 폭 사이즈*/
	width: 10%;
}

#matching #title>li:nth-child(2) {
	width: 50%;
}

#matching #title>li:nth-child(3) {
	width: 15%;
}

#matching #title>li:nth-child(4) {
	width: 15%;
}
/*리스트의 컨텐츠*/
#matching .content { /*레코드 한줄 높이*/
	height: 70px;
}

#matching .content>li:nth-of-type(5n+1) { /*rownum*/
	line-height: 70px;
	font-size:0.9em;
}

#matching .content>li:nth-of-type(5n+2) { /*제목*/
	width: 50%;
	margin-top: 10px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

#matching .content>li:nth-of-type(5n+3) { /*작성자*/
	width: 15%;
	line-height: 70px;
}

#matching .content>li:nth-of-type(5n+4) { /*등록일*/
	width: 15%;
	line-height: 70px;
}

#matching .content>li:nth-of-type(5n+5) { /*매칭평가하기버튼*/
	line-height: 70px;
}

span a {
	color: blue;
}

input[name=ratingBtn] {
	width: 70px;
	height: 30px;
	background-color: #00376b;
	color: white;
	border: none;
	border-radius:5px;
	cursor: pointer;
}

/*------------------------북마크--------------------------*/
#myBookmark #title { /*리스트 상단 제목,작성자 등...*/
	height: 40px;
	line-height: 40px;
}

#myBookmark #title>li:nth-child(1) { /*컬럼 폭 사이즈*/
	width: 10%;
}

#myBookmark #title>li:nth-child(2) {
	width: 50%;
}

#myBookmark #title>li:nth-child(3) {
	width: 15%;
}

#myBookmark #title>li:nth-child(4) {
	width: 15%;
}
/*리스트의 컨텐츠*/
#myBookmark .content { /*레코드 한줄 높이*/
	height: 70px;
}

#myBookmark .content>li:nth-of-type(5n+1) { /*rownum*/
	line-height: 70px;
}

#myBookmark .content>li:nth-of-type(5n+2) { /*제목*/
	width: 50%;
	margin-top: 10px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

#myBookmark .content>li:nth-of-type(5n+3) { /* 닉네임/아이디 */
	width: 15%;
	margin-top: 10px;
}

#myBookmark .content>li:nth-of-type(5n+4) { /*날짜*/
	width: 15%;
	line-height: 70px;
}

#myBookmark .content>li:nth-of-type(5n+5) { /*해제 버튼*/
	line-height: 70px;
}

input[name=unbookmark] {
	width: 70px;
	height: 30px;
	background-color: #facdd1;
	color: white;
	border: none;
	border-radius:5px;
	cursor: pointer;
}

/*-------------------------------------- 구독목록 -------------------------------------*/
#subscribeDiv li { /*구독목록 li기본값*/
	float: left;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

#subscribeDiv #title>li { /*구독리스트 컬럶 폭*/
	width: 15%
}

#subscribeDiv #title>li:nth-child(2) {
	width: 40%
}

#subscribeDiv #title>li:nth-child(3) {
	width: 30%
}

#subscribeDiv .content>li {
	width: 15%;
}

#subscribeDiv .content>li:nth-of-type(4n+2) {
	width: 40%;
}

#subscribeDiv .content>li:nth-of-type(4n+3) {
	width: 30%;
}
input[name=viewList],
input[name=cancleSubscribe] {
	width: 70px;
	height: 30px;
	background-color: #00376b;
	color: white;
	border: none;
	border-radius:5px;
	cursor: pointer;
}
/*--------------------------------------- 차단목록 ------------------------------------*/
#blockDiv li { /*구독목록 li기본값*/
	float: left;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid lightgray;
}

#blockDiv #title>li { /*구독리스트 컬럶 폭*/
	width: 15%
}

#blockDiv #title>li:nth-child(2) {
	width: 40%
}

#blockDiv #title>li:nth-child(3) {
	width: 30%
}

#blockDiv .content>li {
	width: 15%;
}

#blockDiv .content>li:nth-of-type(4n+2) {
	width: 40%;
}

#blockDiv .content>li:nth-of-type(4n+3) {
	width: 30%;
}

input[name=unblock] {
	width: 70px;
	height: 30px;
	background-color: #00376b;
	color: white;
	border: none;
	border-radius:5px;
	cursor: pointer;
}
/*-------------------------------------- 1:1 문의--------------------------------------*/
#qNa li {
	width: 100%;
	min-height: 80px;
	margin: 10px 0;
}
#qNa{
	min-height:1300px;
}
#qNa>div:nth-of-type(1) {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: right;
}

#askDisplay {
	min-height: 300px;
	display: none;
}

#qNa>div:nth-of-type(3) {
	min-height: 300px;
}

input[name=ask] {
	width: 70px;
	height: 30px;
	background-color:#00376b;
	color: white;
	border: none;
	border-radius:5px;
	cursor: pointer;
}
.askSelect{
	width: 100%; /* 가로 사이즈 */
    padding: 5px; /* 내부여백 */
    padding-left: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #000;
    outline:none;
}
#askDiv>select {
	width: 50%;
	height: 40px;
	margin-bottom: 20px;
}

#askDiv textarea {
	width: 100%;
	height: 200px;
	box-sizing:border-box;
	overflow: auto;
	padding:10px;
	resize: none;
	font-size: 1.03em;
	border-radius:7px;
	margin-bottom: 10px;
}
#askDiv textarea:focus{
	outline:none;
}

#qNa>div:nth-of-type(3)>ul {
	width: 100%;
	height: 30px;
}

#askDiv input[name=sendContent] {
	width: 150px;
	height: 30px;
	background-color: #9d9af5;
	color: white;
	border: none;
	border-radius:5px;
	cursor: pointer;
}
#askDiv>div:nth-child(3){
	margin-bottom:30px;
	text-align:center;
}
.inProgress{
	text-align:center;
}

.question, .answer{
	width:100%;
	border:2px solid #00376b;
	border-radius:5px;
}
.question>div, .answer>div{
	width:100%;
	padding:10px;
	min-height:100px;
}
.answer>div{
	min-height:50px;
}
.question>div>div, .answer>div>div{
	width:100%;
}

.question>div>div:first-child{
	border-bottom:1.5px solid #ddd;
	font-weight: bold;
}
.question>div>div:nth-child(2){
	padding-top:5px;
}
.question>div>div:last-child, .answer>div>div:last-child{
	text-align:right;
	color:gray;
}
.answer {
	border:2px solid coral;
	display: none;
	color: black;
}
.answer p{
	font-weight: bold;
	color:black;
}
.inProgress{
	font-weight: bold;
}


/*--------------------------------------- 쪽지함 -------------------------------------*/
#msgTab { /*받은쪽지함/보낸쪽지함*/
	height: 50px;
	line-height: 50px;
}

#msgTab>ul>li { /*쪽지함 탭 정렬*/
	box-sizing: border-box;
	float: left;
	width: 20%;
	height: 48px;
	text-align: center;
	cursor: pointer;
}

.msgChkAndDel {
	width:100%;
	height:50px;
	line-height:50px;
}

.msgChkAndDel>div {
	width: 40%;
	float: left;
}

.msgChkAndDel>div:first-child {
	margin-left:1.5%;
}

.msgChkAndDel>div:last-child {
	text-align:right;
	margin-left:15%;
}

input[name=msgDelBtn] {
	width: 70px;
	height: 30px;
	background-color:#00376b;
	color: white;
	border: none;
	border-radius:5px;
	cursor: pointer;
}

#receiveList, #sendList{
	width:100%;
	overflow:auto;
	display:none;
}
#receiveMsg{
	font-weight:bold;
	border-bottom:2px solid black;
	color:#6f6bdb;	
}
#receiveList{
	display:block;	
}
.msgList{
	margin-top:20px;
	overflow:auto;	
}

.msgListTitle>li, .msgListContent>li {
	width: 20%;
	float: left;
	text-align: center;
	border-bottom: 1px solid rgb(206, 206, 206);
	height: 40px;
	line-height: 40px;
}

.msgListTitle>li {
	border-bottom: 1px solid black;
}

.msgListTitle>li:nth-of-type(1) {
	width: 5%;
}
.msgListTitle>li:nth-of-type(3) {
	width: 55%;
}
.msgListContent>li:nth-of-type(4n+2), .msgListContent>li:nth-of-type(4n+3){
	cursor:pointer;
}

.msgListContent>li:nth-of-type(4n+1) {
	width: 5%;
}

.msgListContent>li:nth-of-type(4n+3) {
	width: 55%;
	float:left;
}




/*---------------------------삭제모달-----------------------------*/
.deleteModal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	-ms-overflow-style: none;
}

.modalOverlay {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	top: 0;
	overflow-y: auto;
	position: fixed;
}

#deleteModalDiv {
	position: relative;
	margin: 400px auto;
	width: 400px;
	padding: 20px;
	background-color: #fafafa;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #666;
	overflow-y: auto;
	display: none;
}

/*----------------------- 정보수정 모달창 ----------------------------------*/
.loginJoinModal {
	  display: none;
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  bottom: 0;
	  overflow-x: hidden;
	  overflow-y: auto;
	  -ms-overflow-style: none;
	}
	.loginJoinModal::-webkit-scrollbar {
	  display: none;
	}
	
	/* 모달창 배경 */
	.modalOverlay {
	  background: rgba(0, 0, 0, 0.5);
	  width: 100%;
	  height: 100%;
	  top: 0;
	  overflow-y: auto;
	  position: fixed;
	}
	
	.joinModalContent {
	  position: relative;
	  margin: 100px auto;
	  width: 400px;
	  padding: 20px;
	  background-color: #fafafa;
	  text-align: center;
	  border-radius: 10px;
	  border: 2px solid #666;
	  overflow-y: auto;
	}
	
	.joinInputBox {
	  text-align: left;
	  width: 100%;
	  padding: 10px 0;
	  overflow: auto;
	  cursor: pointer;
	}
	
	.jointextarea {
	  height: 100px;
	  border: 1px solid #dfe0df;
	  border-radius: 5px;
	  overflow-y: auto;
	  background: #fff;
	  color: #000;
	}
	
	.jointextarea pre {
	  margin: 0;
	  padding: 0;
	  width: 100%;
	}
	
	/* 약관 취소,다음 버튼 스타일 */
	.btnBlock {
	  width: 89%;
	  height: 48px;
	  line-height: 46px;
	  padding: 0;
	  letter-spacing: 0.1em;
	  font-size: 14px;
	  color:white;
	  background: darkblue;
	  border:none;
	}
	#joinNextBtn {
	  background-color: #0e3775;
	  color: #fff;
	}
	
	/* 회원가입 정보 입력 창 기본 설정 */
	.joinDataInputModal {
	  display: none;
	  background-color: #fff;
	}
	/* 아이디, 비밀번호, 확인 인풋박스 */
	.joinDataInputModal input[type="text"],
	.joinDataInputModal input[type="password"],
	.joinDataInputModal input[type="email"] {
	  width: 350px;
	  /* height: 30px; */
	  /* margin-bottom: 25px; */
	  font-size: 12px;
	}
	
	
	.joinDataInputModal label {
	  text-align: left;
	  float: left;
	  width: 100%;
	  padding-left: 20px;
	  /* margin-bottom:7px; */
	}
	
	/* 아이디, 비밀번호, 확인 인풋박스 */
	#joinUserid,
	#joinUserpwd,
	#joinUserpwdChk {
	  margin: 0;
	  height: 30px;
	}
	
	/* 회원가입 정보입력창 ===*/
	.joinCautionText {
	  text-align: left;
	  border-left: 5px solid #2196f3;
	  background-color: #fafafa;
	  width: 378px;
	  padding: 10px;
	  margin: 10px 0;
	  font-size: 0.8em;
	}
	/* 회원가입 주의사항 텍스트 */
	.joinCautionText p {
	  margin: 0;
	  padding: 5px 0;
	  color: #757575;
	}
	
	/* 생일 셀렉트박스 ====*/
	.selectBox {
	  padding-bottom: 10px;
	}
	
	.selectBox select {
	  width: 29%;
	  height: 30px;
	}
	
	.joinSubmitBtn {
	  width: 100%;
	  background-color: #0e3775;
	  color: #fff;
	  margin-top: 15px;
	}
	
	/* 로그인 관련 스타일 */
	.loginModal {
	  display: none;
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
	.loginForm {
	  position: relative;
	  margin: 100px auto;
	  width: 400px;
	  padding: 20px;
	  background-color: #fafafa;
	  text-align: center;
	  border-radius: 10px;
	  border: 2px solid #666;
	  overflow: auto;
	}
	.userid,
	.userpwd {
	  border: none;
	  box-shadow: none;
	  padding: 12px 16px;
	  width: 370px;
	  line-height: 1.2;
	}
	.loginForm input[type="submit"] {
	  width: 100%;
	  padding: 10px;
	}
	.autoLoginLabel {
	  float: left;
	  padding: 10px 0;
	}
	
	.joinBtn2 {
	  float: left;
	}
	.findId {
	  float: right;
	}
	.autoLoginLabel {
	  overflow: auto;
	  }
	/*label과 textform사이 여백*/  
	 
	/* 모달에 관련된 css*/
	body, ul, li, img, a{
		margin:0;
		padding:0;
		
		list-style:none;
		color:black;
		text-decoration:none;
	}
	
	/*==================댓글삭제모달========================*/

	.deleteModal {
	  display: none;
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  bottom: 0;
	  overflow-x: hidden;
	  overflow-y: auto;
	  -ms-overflow-style: none;
	}
	.deleteModal::-webkit-scrollbar {
	  display: none;
	}
	
	/* 모달창 배경 */
	.deleteModalOverlay {
	  background: rgba(0, 0, 0, 0.5);
	  width: 100%;
	  height: 100%;
	  top: 0;
	  overflow-y: auto;
	  position: fixed;
	}
	
	.deleteContent {
	  position: relative;
	  margin: 100px auto;
	  width: 400px;
	  padding: 20px;
	  background-color: whitesmoke;
	  text-align: center;
	  border-radius: 5px;
	 /*  border: 2px solid #666; */
	  overflow-y: auto;
	}
	.deleteContent div{
		font-size:1em;
		text-align:center;
		margin: 20px 0;
	}
	.btnClass{
		width: 70px;
		height: 30px;
		background-color:#05007f;
		color: white;
		border: none;
		border-radius:5px;
		cursor: pointer;
		margin: 10px 20px;
	}
	input[name=cancleDelete]{
		background-color:#c1c1c1;
	}
	
	
	
	/*=============쪽지모달========================*/
	.readMsgModal, mailJoinModal{
	     display: none;
	     position: fixed;
	     top: 0;
	     left: 0;
	     width: 100%;
	     height: 100%;
	     bottom: 0;
	     overflow-x: hidden;
	     overflow-y: auto;
	     -ms-overflow-style: none;
	   }
	
	    .readMsgModal::-webkit-scrollbar {
	        display: none;
	      }
       .mailJoinModal::-webkit-scrollbar {
        display: none;
      }
      

      .msgModalContent, .mailModalContent{
        position: relative;
        margin: 0 auto;
        width: 380px;
        padding: 20px;
        background-color: #fafafa;
        text-align: center;
        border-radius: 10px;
        /*  border: 2px solid #666; */
        overflow-y: auto;
        top: 200px;
      }  

      .msgDataInputModal,  .mailDataInputModal {
        display: none;
        background-color: #fff4f1;
      }
      .msgInfo>li:last-child{
		width: 87%;
		height: 185px;
    	overflow-y:auto;
    	margin: 0 auto;
   	 	text-align: left;
    	margin-top: 5px;
    	background-color:snow;
      }
      .msgInfo>li:last-child::-webkit-scrollbar{
			display:none;
		}
		#msgBtnDiv{
			margin-top:20px;
			text-align:center;
		}
		#yesMail, #noMail{
			margin:0 20px;
		}
		
	