@font-face {
	    font-family: 'IBMPlexSansKR-Regular';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	body, ul, li{
		margin:0;
		padding:0;
		font-family:'IBMPlexSansKR-Regular';
		list-style:none;
	}
	#postViewDiv{
		width:900px;
		margin:0 auto;
		overflow:auto;
	}
	img[name=profileShot]{
		width:40px;
		height:40px;
/* 		margin:5px; */
	}
	.contentTitle{
		overflow:auto;
		box-sizing:border-box;
		margin:5px;
	}
	.contentTitle>div:first-child{
		height:30px;
		line-height:30px;
		width:80px;
		text-align:center;
		border-bottom:1px solid gray;
		margin:0 auto;
	}
	.contentTitle>div:last-child{
		height:100px;
		line-height:110px;
		width:100%;
		font-size:2em;
	}
	.contentWriter{
		width:100%;
		height:60px;
/* 		margin-bottom:2%; */
	}
	.contentWriter>div:first-child, .contentReply>div:nth-child(2)>div:first-child{
		width:5%;
		float:left;
	}
	.contentWriter>div:last-child{
		width:80%;
		margin-top:0.5%;
		overflow:auto;
		line-height:
		font-size:0.9em;
	}
	.contentWriter li{
		float:left;
		margin-right:1%;
	}
	.contentView{
		width:100%;
		min-height:300px;
		overflow:auto;
		margin-top:5%;
	}
	.contentView span{
		font-size:1.1em;
		color:blue;
	}
	.contentView>div{
		height:30px;
		overflow:auto;
		margin-bottom:1%;
	}
	#bubbleIcon, #heartIcon, #sirenIcon{
		width:16px;
		height:16px;		
	}
	.contentReply{
		width:100%;
		overflow:auto;
		margin-top:5%;
	}
	.contentReply>div{
		width:100%;
		overflow:auto;		
		margin-top:2%;
		box-sizing:border-box;
	}
	.contentReply>div:first-child{
		padding-left:1%;
		height:30px;
		line-height:30px;
		font-size:1.15em;
	}
	#siren{
		float:right;
		color:black;
		margin-right:10px;
	}
	.contentReply>div:nth-child(2)>div{
		float:left;
	}
	#postWirterNick{
		font-size:0.9em;
	}
	.replyView{
		margin-top:2%;
	}
	.contentReply span{
		font-size:0.85em;
		color:#ddd;
	}
	.contentReply>div:nth-child(3){
		border:1px solid #0000002b;
		min-height:80px;
		border-radius:5px;
	}
	#replyCommentTextarea{
		width:95%;
		height:50px;
		margin:1.5% 2.5%;
		box-sizing:border-box;
		resize:none;
		border:none;
	}
	#replyCommentTextarea:focus{
		outline:none;
	}
	input[name=replyFileUpload]{
		margin-left:2.5%;
	}
	input[name=writeReplyBtn]{
		float:right;
		margin-right:2%;
	}
	.contentReply>div:nth-child(3)>div{
		margin:2% 0;
		overflow:auto;
	}
	.viewBtn{
		width:70px;
		height:30px;
		background-color:#0e08a7;
		color:white;
		border:none;
		border-radius:5px;
		font-weight:bold;
		cursor:pointer;
	}
	#otherContent{
		width:100%;
		overflow:auto;
		margin-top:3%;
		box-sizing:border-box;
	}
	#otherContent>div{
		box-sizing:border-box;
		border-top:1px solid #ddd;
		border-bottom:1px solid #ddd;
		height:50px;
	}
	#otherContent>div:last-child{
		border-top:none;
	}
	img[name=prevPost], img[name=nextPost]{
		width:24px;
		height:24px;
	}
	#otherContent>div:first-child>div:first-child{
		width:30px;
		overflow:auto;
		margin:7px 15px;
	}
	#otherContent>div:last-child>div:first-child{
		width:30px;
		overflow:auto;
		margin:0 15px;
		margin-top:13px;
	}
	.arrowDiv:last-child{
		margin:7px 16px;
	}
	.arrowDiv+div{
		margin-top:12px;
	}
	#otherContent>div>div{
		float:left;
	}
	#bottomBtn{
		width:100%;
		overflow:auto;
		margin:2% 0;
		box-sizing:border-box;
		margin-top:3%;
	}
	#bottomBtn>div{
		width:40%;
		flaot:left;
	}
	#bottomBtn input[type=button]{
		width:70px;
		height:30px;
		background-color:#0e08a7;
		color:white;
		font-size:0.8em;
		border:none;
		border-radius:5px;
		font-weight:bold;
		cursor:pointer;
	}
	input[name=postWriteBtn]{
		float:right;
	}