@charset "UTF-8";
	@font-face {
	    font-family: 'IBMPlexSansKR-Regular';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	body, div, ul, li{
		margin:0;
		padding:0;
		box-sizing:border-box;
		font-family: 'IBMPlexSansKR-Regular';
	}
	
	h1{/*제목*/
		margin-left:20px;
	}
	hr{
		color:black;
	}
	#qNaContainer{/*컨테이너*/
		width:1100px;
		overflow:auto;
		margin:0 auto;
	}
	a{
		text-decoration:none;
		color:black;
	}
	a:hover{
		color:#5e83d1;
	}
	span{
		color:blue;
		font-size:0.85em;
	}
	
	#qNaContainer #allSearch{/*검색창 div*/
		width: 100%;
	    height: 60px;
		/*background-color:red;*/
	    display: flex;
	    flex-direction: row;
	    justify-content: flex-end;
	}
	select{
		height:36px;
		border:none;
		outline:none;
	}
	#search, #search:focus{
		height:30px;
		line-height:30px;
		border:none;
		outline:none;
		border-bottom:1.5px solid #4c4646;
	}
	input[name=searchContent]{
		width:32px;
		height:32px;
		border:none;
		margin-bottom:-10px;
		background:url('img/magnifier.png') no-repeat;
		cursor:pointer;
	}
	
	.questionList li{
		float:left;
		width:10%;
		text-align:center;
	}
	#quesTitle{
		height:40px;
		line-height:40px;
		font-size:1.05em;
	}
	#quesTitle>li:nth-child(2){
		width:50%;
	}
	#quesTitle>li:nth-child(3), #quesTitle>li:nth-child(4){
		width:13%;
	}
	#quesTitle>li:nth-child(5), #quesTitle>li:nth-child(6){
		width:7%;
	}	
	.quesContent{
		width:100%;
		height:80px;
	}
	.quesContent>div{
		float:left;
		height:80px;
		text-align:center;
		box-sizing:border-box;
		padding:5px;
	}
	.quesContent>div:nth-of-type(6n+1){
		width:10%;
		padding:18px 5px;
	}
	.quesContent>div:nth-of-type(6n+2){
		width:50%;
		display: table-cell;
  		vertical-align: middle;
		text-align:left;
		overflow:hidden; 
		text-overflow:ellipsis;
	}
 	.quesContent>div:nth-of-type(6n+3){
 		width:13%; 
/*  		display: table-cell; */
  		vertical-align: middle;
	}
	.quesContent>div:nth-of-type(6n+4){
		width:13%;
		padding:18px 5px;
	}
	.quesContent>div:nth-of-type(6n+5), .quesContent>div:nth-of-type(6n+6){
		width:7%;
		padding:18px 5px;
	}
	.questionList{
		width:100%;
		overflow:auto;
		text-align:right;
	}
	#btnDiv{
		height:50px;
	}
	#writeBtn{/*글쓰기 버튼*/
		float:right;
		margin-top:10px;
		margin-right:20px;
		width:70px;
		height:30px;
		background-color:#0e08a7;
		color:white;
		border:none;
		border-radius:5px;
		cursor:pointer;
	}
	#page {
		width:100%;
		height:50px;
	}
	#page ul{/*페이지 div*/
		width:250px;
		height:50px;
		line-height:25px;
		margin:0 auto;
	}
	#page li{/*페이지 1,2,3,4*/
		float:left;
		margin:10px 10px;
	}
	
	